body{background-image:linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.2)); url(../../Image/Image2.jpg);
background-size: cover;
background-attachment: fixed;
background-repeat: no-repeat;}

nav{width:100%;
height: 100px;background-color: white;
text-color:blueviolet; display: flex;
justify-content:space-around;align-items:center;}

.logo{font-size: 2em;
letter-spacing: 2px;}

.menu a{text-decoration: none;
color:purple;font-size:20px;margin-inline: 10px; padding-top: 20px;}

.h a{text-decoration: none;color:rgb(255, 0, 13);
    background-color: yellow;padding-top: 10px;
    padding-bottom: 10px;padding-left: 20px;padding-right: 20px;
    border-radius:8px;
}

.h-txt{max-width: 650px;
    position:absolute
    top 50%;left:50%;transform:translate(-50%,-50%);
}