
/*
.a > li{list-style: none;
font-size:60px;}
.z > .p > .u{background-color:red;}

.y .a{color:yellow;}

h1~p{color:red;}
#test{color:yellow;}
#test{color:yellow;}
.heading{color:blue;}
h1{color:red;}
.heading{color:green !important;}*/






.u{color:yellow;}
.u{color:blue;}
h1{color:green !important;}
h1{color:red;}
#y{color:purple;}
#y{color:aqua;}
