*{margin: 0;
padding:0;
box-sizing: border-box;}
header .logo img{width: 50px;}
header{height: 90px;padding-left: 20px;padding-right: 20px;
background-color: aquamarine;align-items: center;}

header .nav{float:right; align-items: center;}
header .nav a{text-decoration: none;padding-left:70px;position:relative;align-items: center;}