
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Kavivanar&family=Noto+Sans+KR:wght@100..900&family=Phetsarath:wght@400;700&display=swap');
p{
    font-family: "Phetsarath", serif;
    font-weight: 400;
    font-style: normal;
  }