body{margin:0;background-color: beige;}

.header{text-align: center;
padding-top: 50px;
color:darkcyan;font-size: 20px;text-transform: uppercase;background-color: lightblue;}

.navbar a{text-decoration: none;background-color: black;
    padding:20px;border-radius: 10px;padding-left:20px;
}
.navbar a:hover{background-color: blue;color:red;}

.content{background-color: lightslategray;}

.content .column{background-color: blueviolet;width:32.3%;float:left;margin-top: 50px;margin-left:5px;}


.footer{float:left;width: 100%;
background-color: aquamarine;}

.footer h2{color:white;text-align: center;}

.footer p{text-align: center;font-size:20px;

.footer h3 .h{text-align: center;}