*{margin:0;
padding:0;
box-sizing: border-box;}

body{background-color:#FFF1E5;}

header{display: flex;justify-content: space-between;
    align-items: center;
padding-left: 50px;
padding-right: 50px;}

.right-sec{display: flex;
    align-items: center;gap:40px;}
    a{font-size:18px;text-decoration: none;
        color:black;}
        p{font-size: 22px;font-weight: 300px;margin-top:70px;padding-left:150px;}

        h1{font-size:72px;font-weight: 700;color:red;margin-top:60px;}
        .content{padding-left:50px;
            padding-right:50px;}
.main-right1 >img{position:relative;
    Left:500px;bottom:450px;}
.main-right2 >img{position:relative;
    left:900px;bottom:500px;}