/* .u >li{list-style-type: georgian;}? */


/* .i >li{list-style:square outside; */
/* margin:20px 5px 0px 10px;} */
/* .table{width: 100%; */
/* color: green; */
/* border-spacing: 60px;} */

body{font-family:'Courier New', Courier, monospace;color:#111111;

cursor:url(../../Image/Apple\ icons.png);}
table{width: 600px;
}
th,td{padding:7px 10px 10px 10px;}
th{text-transform: uppercase;
letter-spacing: .1em;font-size:90%;border-bottom:2px solid red;
border-top: 1px solid green;text-align:left;}